.header.container
    nav.navbar.navbar-default.row
        .navbar-header.container
            .row
                +navbarToggle(navbarToggleID, 'col-xs-12')

                +logo('Logo', null, 'col-xs-12')

            .row
                .collapse.row.navbar-collapse(id=navbarToggleID)
                    +navbarNav