.header.container
    nav.navbar.navbar-default.row
        .navbar-header.container
            .row
                button.col-xs-12.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#nav-content")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

                a.col-xs-12.navbar-brand.text-center(href="/") logo

            .row
                .collapse.row.navbar-collapse#nav-content
                    ul.nav.navbar-nav
                        li
                            a(href="/") Home
                        li
                            a(href="") About
                        li
                            a(href="") Contact
                        li
                            a(href="") Blog
