include ../abstract/variables
include ../abstract/mixins
doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="assets/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="css/style.css")
        title template starter
    body

        include ../parts/header

        block main-content

        include ../parts/footer


        script(src="assets/jquery/dist/jquery.min.js")
        script(src="assets/bootstrap/dist/js/bootstrap.js")
