- var navbarToggleID = 'nav-content'

- var classesSubmenu = [{title: 'instructors', href: 'instructors.html'}, {title: 'best of', href: 'best.html'}]
- var links = [{title: 'home', href: '/'},{title: 'about', href: 'about.html'}, {title: 'classes', href: 'classes.html', submenu: classesSubmenu}, {title: 'contacts', href: 'contacts.html'}]