@font-face {
  font-family: "Lato";
  src:  url("../fonts/lato-regular-webfont.eot?") format('eot'),
        url("../fonts/lato-regular-webfont.woff") format('woff'),
        url("../fonts/lato-regular-webfont.ttf") format('ttf')
}

@font-face {
  font-family: "Nixie One";
  src:  url("../fonts/nixieone-regular-webfont.eot?") format('eot'),
        url("../fonts/nixieone-regular-webfont.woff") format('woff'),
        url("../fonts/nixieone-regular-webfont.ttf") format('ttf')
}