$brand-color:   rgb(7, 112, 84);
$second-color:  rgb(153, 250, 153);
$third-color:   rgb(182, 216, 207);

$accent-color: rgb(255, 255, 255);
$hover-color: rgb(211, 163, 255);

$title-color: rgb(33, 165, 30);
$text-color: rgb(49, 95, 82);

$body-bg: $brand-color;

$content-bg: $accent-color;

$container-sm: 100%;
$container-lg: 970px;

$navbar-default-bg: $brand-color;
$navbar-default-border: $brand-color;

$navbar-default-brand-color: $second-color;
$navbar-default-brand-span-color: $third-color;
$navbar-default-brand-hover-color: darken($navbar-default-brand-color, 10%);

$navbar-default-toggle-hover-bg: darken($brand-color, 5%);
$navbar-default-toggle-icon-bar-bg: $second-color;
$navbar-default-toggle-border-color: $second-color;

$navbar-default-link-color: $accent-color;
$navbar-default-link-hover-color: $hover-color;


$btn-primary-color: $second-color;
$btn-primary-bg: $brand-color;
$btn-primary-border: darken($btn-primary-bg, 5%)